@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  font-family: inherit; /* Sử dụng font chữ của thẻ cha */
  font-size: inherit; /* Sử dụng kích thước font của thẻ cha */
  font-weight: normal; /* Đặt lại trọng lượng font chữ */
  color: inherit; /* Sử dụng màu chữ của thẻ cha */
  text-decoration: none; /* Loại bỏ gạch chân */
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.container {
  width: 1200px;
  height: 100%;
  max-width: 100%;
  padding: 0 12px;
  margin: 0 auto;
}

.header-top {
  background-color: #0B4A78;
}
.header-top-inner {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0.8rem;
  padding: 8px 0;
}
.header-top-contact {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
}
.header-top-link {
  color: white;
}
.header-top-link:nth-child(2) {
  position: relative;
  padding-left: 12px;
}
.header-top-link:nth-child(2)::after {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 12px;
  width: 1px;
  background-color: #fff;
}
.header-bot {
  background-color: rgba(255, 255, 255, 0.8);
  position: fixed;
  z-index: 1;
  width: 100%;
}
.header-bot-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.8rem;
}
.header-bot-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.8rem;
  gap: 2rem;
  font-size: 1.2rem;
}

.menu-nav:hover {
  color: #DAA761;
}
.menu-nav:nth-child(3)::after, .menu-nav:nth-child(5)::after {
  content: "▾";
}

.main-page-home {
  height: 1000px;
  font-family: "Open Sans", sans-serif;
}

.slider-banner {
  position: relative;
  background-size: cover;
  background-position: center;
}
.slider-banner img {
  max-width: 100%;
}

.slider-text {
  left: 2rem;
  top: 10rem;
}
.slider-text-title {
  color: #DAA761;
  font-weight: 700;
  font-size: 4.4rem;
}
.slider-text-para {
  margin: 3rem 0 7rem;
  line-height: 1.7rem;
  max-width: 35rem;
  font-size: 1rem;
}
.slider-but {
  background-color: #DAA761;
  color: #fff;
  width: max-content;
  padding: 15px 35px;
  border-radius: 50px;
  cursor: pointer;
  max-width: fit-content;
}
.slider-but:hover {
  color: #fff;
  background-color: #0B4A78;
}

.wrap-content {
  width: 100%;
  top: 17%;
  position: absolute;
}

.about-us {
  position: relative;
  width: 100%;
  background-color: #DAA761;
  height: 100%;
}
.about-us::after {
  position: absolute;
  content: "";
  background-color: #DAA761;
  transform: translate(0%, -52%);
  width: 100%;
  height: 12rem;
  top: 0;
  left: 0;
  clip-path: ellipse(63% 82% at 50% 101%);
}
.about-us-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.8rem;
  height: 100%;
}

.about-us > .container {
  position: relative;
  top: -16%;
}

.section-left, .section-right {
  flex: 1;
  width: 50%;
  position: relative;
  height: 100%;
}

.section-left-img-about {
  width: 100%;
  height: 100%;
  position: absolute;
}
.section-left-img-about-1 {
  left: 56%;
  top: 9%;
  z-index: 1;
}
.section-left-img-about-2 {
  top: 18%;
  left: 15%;
  z-index: 3;
}
.section-left-img-about-3 {
  top: 40%;
  right: 0%;
  z-index: 2;
}
.section-left-group-1 {
  left: 36%;
  top: 14%;
  z-index: 2;
}
.section-left-group-2 {
  top: 35%;
  right: 11%;
  z-index: 1;
}

.section-right {
  padding-left: 3rem;
  padding-top: 9rem;
  top: 10%;
}
.section-right-title {
  color: #fff;
  font-family: "Playfair Display";
  position: relative;
  font-size: 3rem;
  font-weight: 600;
}
.section-right-title::after {
  display: block;
  width: 10rem;
  content: "";
  position: absolute;
  height: 1px;
  background-color: #fff;
  top: calc(100% + 10px);
}
.section-right-para {
  margin: 4.8rem 2rem 4.2rem 0;
  color: #fff;
  line-height: 1.4;
}
.section-right-but {
  background-color: #DAA761;
  color: #fff;
  width: max-content;
  padding: 15px 35px;
  border-radius: 50px;
  cursor: pointer;
  max-width: fit-content;
  background-color: #fff;
  color: #DAA761;
}
.section-right-but:hover {
  color: #fff;
  background-color: #0B4A78;
}

.arrow {
  background-color: #DAA761;
  border-radius: 999px;
  width: 6rem;
  height: 6rem;
  position: relative;
  left: 48%;
  top: -11%;
}
.arrow::after {
  content: "";
  position: absolute;
  width: 70%;
  height: 70%;
  border-radius: 999px;
  background-color: rgba(251, 246, 239, 0.3);
  top: 11%;
  left: 15%;
  z-index: 1;
}
.arrow .icon-arrow::before {
  content: "";
  display: inline-block;
  width: 3rem;
  height: 3rem;
  background-image: url("../../assets/icon/arrow.svg");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: 35%;
  left: 25%;
  z-index: 2;
}

@media only screen and (min-width: 768px) and (max-width: 1023em) {
  .header-bot-list {
    font-size: 1.05rem;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023em) {
  .slider-text {
    left: 2rem;
    top: 1rem;
    position: absolute;
  }
  .slider-text-title {
    font-size: 2rem;
  }
  .slider-text-para {
    margin: 1rem 0 1rem;
    line-height: 1.7rem;
    max-width: 35rem;
    font-size: 1rem;
  }
  .slider-but {
    padding: 10px 23px;
    font-size: 0.8rem;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .section-left-img-about {
    transform: scale(0.75);
    z-index: 2;
  }
  .section-left-img-about-1 {
    left: 60%;
    top: -2%;
  }
  .section-left-img-about-2 {
    top: 7%;
    left: -16%;
  }
  .section-left-img-about-3 {
    top: 34%;
    right: -26%;
  }
  .section-left-group-1 {
    left: 19%;
    top: 9%;
    z-index: 1;
    transform: scale(0.8);
  }
  .section-left-group-2 {
    top: 31%;
    right: 0%;
    z-index: 1;
    transform: scale(0.8);
  }
  .section-right-title {
    font-size: 2rem;
    top: -4%;
  }
  .section-right-para {
    top: -7%;
    position: relative;
  }
  .section-right-but {
    top: -10%;
    position: relative;
  }
}
@media only screen and (min-width: 407px) and (max-width: 480px) {
  .header-bot-menu {
    display: none;
  }
}
@media only screen and (max-width: 406px) {
  .header-top {
    font-size: 0.8em;
  }
  .header-bot-menu {
    display: none;
  }
}
@media only screen and (min-width: 407px) and (max-width: 480px) {
  .slider-text-title {
    font-size: 1.5rem;
  }
  .slider-text-para {
    font-size: 0.7rem;
    transform: translate(1px, -37px);
  }
  .slider-but {
    padding: 5px 5px;
    border-radius: 50px;
    position: absolute;
    top: 33%;
    font-size: 0.8rem;
    left: 75%;
  }
}
@media only screen and (max-width: 406px) {
  .slider-text-title {
    font-size: 1.5rem;
  }
  .slider-text-para {
    font-size: 0.7rem;
    transform: translate(1px, -13px);
    margin: 1rem 0px 3rem;
    line-height: 1.3rem;
  }
  .slider-but {
    display: none;
  }
}
@media only screen and (min-width: 407px) and (max-width: 480px) {
  .about-us::after {
    display: none;
  }
  .section-left {
    z-index: 1;
  }
  .section-left-img-about {
    opacity: 0.3;
    transform: scale(0.5);
    z-index: 2;
  }
  .section-left-img-about-1 {
    left: 68%;
    top: -17%;
  }
  .section-left-img-about-2 {
    top: 0%;
    left: -56%;
  }
  .section-left-img-about-3 {
    top: 32%;
    right: -122%;
  }
  .section-left-group {
    opacity: 0.3;
  }
  .section-left-group-1 {
    left: -14%;
    top: 15%;
    z-index: 1;
    transform: scale(0.7);
  }
  .section-left-group-2 {
    top: 32%;
    right: -37%;
    z-index: 1;
    transform: scale(0.8);
  }
  .section-right {
    z-index: 2;
    padding-left: 2rem;
    flex: none;
    transform: translate(-3%, -2%);
    width: 90%;
  }
  .section-right-title {
    font-size: 1.5rem;
    top: -4%;
  }
  .section-right-para {
    top: -7%;
    position: relative;
  }
  .section-right-but {
    top: -10%;
    position: relative;
  }
}
@media only screen and (max-width: 406px) {
  .about-us::after {
    display: none;
  }
  .section-left {
    z-index: 1;
  }
  .section-left-img-about {
    opacity: 0.3;
    transform: scale(0.5);
    z-index: 2;
  }
  .section-left-img-about-1 {
    left: 68%;
    top: -17%;
  }
  .section-left-img-about-2 {
    top: 0%;
    left: -56%;
  }
  .section-left-img-about-3 {
    top: 32%;
    right: -122%;
  }
  .section-left-group {
    opacity: 0.3;
  }
  .section-left-group-1 {
    left: -14%;
    top: 15%;
    z-index: 1;
    transform: scale(0.7);
  }
  .section-left-group-2 {
    top: 32%;
    right: -37%;
    z-index: 1;
    transform: scale(0.8);
  }
  .section-right {
    z-index: 2;
    padding-left: 2rem;
    flex: none;
    transform: translate(-3%, -2%);
    width: 90%;
  }
  .section-right-title {
    font-size: 1.5rem;
    top: -4%;
  }
  .section-right-para {
    top: -7%;
    position: relative;
  }
  .section-right-but {
    top: -10%;
    position: relative;
  }
}
@media only screen and (max-width: 46.1875em) {
  .container {
    width: fit-content;
  }
}
@media only screen and (min-width: 46.25em) and (max-width: 64em) {
  .container {
    width: fit-content;
  }
}

/*# sourceMappingURL=style.css.map */
