// Mobile: width < 740px;
@media only screen and (max-width: 46.1875em) {
    .container{

    }
}


// Table: 740px <= width < 1024px;
@media only screen and (min-width: 46.25em) and (max-width: 63.9375em) {
    .container{
        width:fit-content;
    }

    .header-bot-list {
        font-size: 1.05rem;
    }
    .slider-text{
        left: 2rem;
        top: 1rem;
        position: absolute;
    }
    .slider-text-title {
        font-size: 2rem;
    }

    .slider-text-para {
        margin: 1rem 0 1rem;
        line-height: 1.7rem;
        max-width: 35rem;
        font-size: 1rem;
    }

    .section-left-img-about {
        transform: scale(0.75);
        z-index: 2;
    }

    .section-left-img-about-1 {
        left: 60%;
        top: -2%;
    }
    .section-left-img-about-2 {
        top: 7%;
        left: -16%;
    }
    
    .section-left-img-about-3 {
        top: 34%;
        right: -26%;
    }

    .section-left-group-1 {
        left: 21%;
        top: 10%;
        z-index: 1;
        transform: scale(0.8);
    }

    .section-left-group-1 {
        left: 19%;
        top: 9%;
        z-index: 1;
        transform: scale(0.8);
    }

    .section-left-group-2 {
        top: 31%;
        right: 0%;
        z-index: 1;
        transform: scale(0.8);
    }
    .section-right-title {
        font-size: 2rem;
        top: -4%;
    }
    .section-right-para {
        top: -7%;
        position: relative;
    }
    .section-right-but {
        top: -10%;
        position: relative;
    }
    .slider-but {
        padding: 10px 23px; 
        font-size: 0.8rem;   
    }
}