.header {
  &-top {
    background-color: $backgrColorHeaderTop;

    &-inner {
      @include flex-right;
      padding: 8px 0;
    }

    &-contact {
      @include flex-center();
    }



    &-link {
      color: white;

      &:nth-child(2) {
        position: relative;
        padding-left: 12px;

        &::after {
          content: "";
          position: absolute;
          left: 0;
          top: 50%;
          transform: translateY(-50%);
          height: 12px;
          width: 1px;
          background-color: #fff;
        }
      }
    }
  }

  &-bot {
    background-color: $backgrColorHeaderBot;
    position: fixed;
    z-index: 1;
    width: 100%;

    &-inner{
      @include flex-between;
    }

    &-list{
      @include flex-between;
      gap: 2rem;
      font-size: 1.2rem;
    }
  }
}

.menu{
  &-nav{
    &:hover{
      color: $mainColorText;
    }
    
    &:nth-child(3)::after,
    &:nth-child(5)::after {
      content: "\25BE";
    }

  }
}
