//Table
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .section{
        position: absolute;
        
        &-left{
            height: 22rem;
            position: relative;
            
            &-img-about{
                transform: scale(0.75);
                z-index: 2;
                height: 20rem;
                width: 100%;
                position: relative;

                &-1{
                    left: 52%;
                    top: -11%;
                }

                &-2{
                    top: 7%;
                    left: -16%;  
                }

                &-3{
                    left: 90%;
                    top: 89%;
                     
                }
            }

            &-group{

                &-1{
                    left: 21%;
                    top: -1%;
                    z-index: 1;
                    transform: scale(0.8);
                }

                &-2{
                    top: 49%;
                    left: 57%;
                    z-index: 1;
                    transform: scale(0.8);   
                }
            }
        }

        &-right{
            
            &-title{
                font-size: 2rem;
                top: -4%; 
            }

            &-para{
                top: -7%;
                position: relative; 
            }

            &-but{
                top: -10%;
                position: relative;
            }
        }
    }

    .about-us{
        &::after{
            height: 8rem;
        }
    }

    .arrow{
        top: -13%;
    }
}
