
//Mobile 407-480
@media only screen and (min-width: 407px) and (max-width: 480px) {
    .wrap-content{
        top: 28%;
    }

    .slider{
        height: 500px;

        &-banner{
            height: 500px;
            position: relative;
        }
        &-text{
            &-title{
                font-size: 1.5rem;

            }
            &-para{
                font-size: 0.7rem;
                transform: translate(0px, -37px);}
        }

        &-but{
            padding: 10px 20px;
            border-radius: 50px;
            position: absolute;
            font-size: 0.8rem;
            bottom: 27%;
            
        }
    }
    .slider-banner img {
        max-width: 100%;
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        object-position: 62% 50%;
    }
}

// Mobile <406
@media only screen and (max-width: 406px) {


    .slider{
        &-text{
            &-title{
                font-size: 1.5rem;


            }
            &-para{
                font-size: 0.7rem;
                transform: translate(1px, -13px);
                margin: 1rem 0px 3rem;
                line-height: 1.3rem;
            }
        }

        &-but{
            display:none;
        }
    }
}
