.about-us{
    &::after{
        position: absolute;
        content: "";
        background-color: $mainColorText;
        transform: translate(0%, -52%);
        width: 100%;
        height: 12rem;
        top: 0;
        left: 0;
        clip-path: ellipse(63% 82% at 50% 101%);
    }

    position: relative;
    width: 100%;
    background-color: $mainColorText;
    height:100%;
    
    &-inner{
        @include flex-between;
        height:100%;
        
    }
}

.about-us > .container{
    position: relative;
    top: -16%;
}

.section{

    &-left,
    &-right{
    flex: 1;
    width: 50%;
    position: relative;
    height: 100%;
    }
}

.section-left{
    &-img-about{
        width:100%;
        height: 100%;
        position: absolute;

        &-1{
            left: 56%;
            top: 9%;
            z-index: 1;
            

        }

        &-2{
            top: 18%;
            left: 15%;
            z-index: 3;
        }

        &-3{
            top: 40%;
            right: 0%;
            z-index: 2;
        }
    }

    &-group{
        &-1{
            left: 36%;
            top: 14%; 
            z-index: 2;
            
        }

        &-2{
            top: 35%;
            right: 11%;
            z-index: 1;
        }
    }
}

.section-right{
    padding-left: 3rem;
    padding-top: 9rem;
    top: 10%;
    &-title{
        color: $mainColor;
        font-family: 'Playfair Display';
        position: relative;
        font-size: 3rem;
        font-weight: 600;

        &::after{
            display: block;
            width: 10rem;
            content: "";
            position: absolute;
            height: 1px;
            background-color: $mainColor;
            top: calc(100% + 10px);
        }
    }

    &-para{
        margin: 4.8rem 2rem 4.2rem 0;
        color: $mainColor;
        line-height: 1.4;
    }
    
    &-but{
        @include button(#fff,#0B4A78);
        background-color: #fff;
        color: $mainColorText;
    }
}

.arrow{
    @include arrow;
    left: 48%;
    top: -11%;
}

.arrow{
    
    
}

