@mixin button($hover-color: #333, $hover-backgr: #fff) {
    background-color: $mainColorText;
    color: #fff;
    width:max-content;
    padding: 15px 35px;
    border-radius: 50px;
    cursor: pointer;
    max-width: fit-content;
    &:hover{
        color: $hover-color;
        background-color: $hover-backgr;
    }
}

@mixin flex-center($gap: $gapPrimary) {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: $gap;
}

@mixin flex-between($gap: $gapPrimary) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: $gap;
}

@mixin flex-right($gap: $gapPrimary) {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: $gap;
}

@mixin arrow{
    background-color: $mainColorText;
    border-radius: 999px;
    width: 6rem;
    height: 6rem;
    position: absolute;

    &::after{
        content: "";
        position: absolute;
        width: 70%;
        height: 70%;
        border-radius: 999px;
        background-color: rgba(251, 246, 239, 0.3);
        top: 11%;
        left: 15%;
        z-index: 1;
        
    }
    .icon-arrow::before {
        content: "";
        display: inline-block;
        width: 3rem;
        height: 3rem;
        background-image: url('../../assets/icon/arrow.svg');
        background-size: contain;
        background-repeat: no-repeat;
        position: absolute;
        top: 35%;
        left: 25%;
        z-index: 2;
    }

    
}

