//header-top
$backgrColorHeaderTop : #0B4A78;
$mainColor: #fff;
$headerFont: 'Open Sans', sans-serif;
$mainColorText: #DAA761;

//header-bot
$backgrColorHeaderBot: rgba(255, 255, 255, 0.4);


// instance of flex
$gapPrimary: 0.8rem