.about-us{
    width: 100%;
    display: flex;
    justify-content:space-between;
    background-color: $mainColorText;
    height:1000px;
}

.section-left, .section-right {
    flex: 1;
    width: 50%;
}
.img-about{
    position: relative;
}
.img-about-1{
    transform: translate(226%, 44%);
}

.img-about-2{
    transform: translate(68%, 50%);
}

.img-about-3{
    transform: translate(427%, 282%);
}